<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Twitter Feeling</title>
    
  	<link href="\static\style.css" rel="stylesheet" type="text/css" media="screen"/>
    
  </head>
  
  <body>
  	<div id="wrapper">
  	
  		<div id="div-propaganda">
  			<div class="texto">
  				Descubra o que estão falando sobre alguém do seu interesse. <br/>
  				<span class="sub-texto">Contéudo Social em Tempo Real</span>
  			</div>
  		</div>
  		
		<div id="div-busca">
			<div style="text-align: right;">
				<form action="/realtime" method="get">
					<input id="search" name="q" type="text" placeholder="Santorum, Paul McCartney, Harrison Ford...">
					<button class="btn btn-large btn-inverse" id="artist_submit" type="submit"><i class="icon-search"></i></button>
				</form>
			</div>
		</div>
	</div>
  </body>
  
</html>
