<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Análise de Sentimento em Tempo Real</title>
    
    <link href="/static/style.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>
  
  <body>
      <div id="titulo">
            Titulo
      </div>
  
      <div id="busca">
            Campo da Busca
      </div>
      
      <div id="conteudo">
            <div id="subitem1" class="subitem">
                Positivo = {{stats.0.pos}} - {% widthratio stats.0.pos tweets|length 100 %}% <br />
                Neutro = {{stats.0.neutral}} - {% widthratio stats.0.neutral tweets|length 100 %}% <br />
                Negativo = {{stats.0.neg}} - {% widthratio stats.0.neg tweets|length 100 %}% <br />
            </div>
            
            <div id="subitem2" class="subitem">
                Positivo = {{stats.1.pos}} - {% widthratio stats.1.pos tweets|length 100%}% <br />
                Neutro = {{stats.1.neutral}} - {% widthratio stats.1.neutral tweets|length 100 %}% <br />
                Negativo = {{stats.1.neg}} - {% widthratio stats.1.neg tweets|length 100 %}% <br />
            </div>
            
            <div id="subitem3" class="subitem">
            	Positivo = {{stats.2.pos}} - {% widthratio stats.2.pos tweets|length 100%}% <br />
                Neutro = {{stats.2.neutral}} - {% widthratio stats.2.neutral tweets|length 100%}% <br />
                Negativo = {{stats.2.neg}} - {% widthratio stats.2.neg tweets|length 100%}% <br />
            </div>
            
            <br style="clear: both;" />
      </div>
      
      <div id="lateral-esquerda">
            Top User: <br/>
            {% for user in top_users %}
                {{ user.0 }} - {{ user.1 }} <br />
            {% endfor %}
            
            <br />
            <br />
            
            Top Word: <br />
            {% for word in top_words %}
                {{ word.0 }} - {{ word.1 }} <br />
            {% endfor %}
            
            <br />
            <br />
            
            Top Hashtag: <br />
            {% for ht in top_hashtags %}
                {{ ht.0 }} - {{ ht.1 }} <br />
            {% endfor %}
      </div>
      
      <div id="centro">
            {% for tweet, a1, a2, a3 in tweets %}
                <span title="{{a1.prob}}">{{ a1.label }}</span> 
                <span title="{{a2.prob}}">{{ a2.label }}</span> 
                <span title="{{a3.prob}}">{{ a3.label }}</span> <br/>
                
                {{ tweet.text }} <br/>
                {{ tweet.user }} <br/>
                {{ tweet.date }} <br/> <br/> <br/>                
            {% endfor %}
      </div>
      
      <div id="lateral-direita">
      		Tamanho Real = {{size}} <br />
            Tamanho Analisado = {{tweets|length}}
      </div>
  
  </body>
</html>